* {
font-family: 'Aclonica', sans-serif;
}

body {
background-image: url("https://i.redd.it/v6nri87mfx8y.png");
  background-repeat: repeat-y;
}

p {
color: #FFF;
  font-size: 18px;
  font-family: 'Aclonica', sans-serif;
}

h1 {
color: #FFF;
  font-size: 70px;
  text-align: center;
}

h3 {
padding: 12px;
  margin: 20px;
  font-weight: bold;
  color: #FFA500;
}

.menu item {
color: #FFF;
}
