* {
  font-family: Times New Roman;
}


div.TitleAuthor h1 {
  color: red;
}

div.NavigationalBar li {
  display: inline;
}

div.NavigationalBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

div.NavigationalBar li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a.active {
  background-color: #8426ef;
}

.active a:hover:not {
   color: #1121;
}
