* {
  font-family: Times New Roman;
}


div.TitleAuthor h1 {
  color: red;
}

div.NavigationalBar li {
  display: inline;
}

div.NavigationalBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

div.NavigationalBar li {
  float: left;
}

.NavigationalBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a.active {
  background-color: #8426ef;
}

.active a:hover:not {
   color: #1121;
}

.asidenav {
  border-style: solid;
  border-width: 5px;
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 8px;
  overflow: hidden
  padding: 8px 0;
}

.asidenav a {
    text-decoration: none; 
    list-style-type: none;
    font-size: 15px;
    color: #1391f4;
    display: block;
}

main {
    margin-left: 140px;
    padding: 0px 10px;
}

